langchain
openai
streamlit
scikit-learn
PyPDF2
python-docx
beautifulsoup4
python-dotenv
langchain_community
spacy==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
pandas
numpy
xgboost
joblib
